<!DOCTYPE html>
<html ng-app="finleo">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/">
    <title>FinLeo</title>
</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>


    <!-- Core JS Files   -->
    <script src="/lib/jquery/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="/lib/bootstrap/tether.min.js"></script>
    <script src="/lib/bootstrap/bootstrap.min.js" type="text/javascript"></script>

    <!-- App JS Files   -->
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular/angular-ui-router.min.js"></script>
    <script src="~/js/app/ngapp.js"></script>
    <script src="~/js/app/routing.js"></script>
    <script src="~/js/app/home/home.controller.js"></script>
    <script src="~/js/app/home/transacao/transacao.js"></script>
</body>
</html>
