
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="pt-br">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FinLeo</title>
</head>
<body>
    <p>FinLeo</p>

    <!-- Core JS Files   -->
    <script src="/lib/jquery/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="/lib/bootstrap/tether.min.js"></script>
    <script src="/lib/bootstrap/bootstrap.min.js" type="text/javascript"></script>

    <!-- App JS Files   -->
    <script src="/lib/angular/angular.min.js"></script>
    <script src="/lib/angular/angular-ui-router.min.js"></script>
</body>
</html>
