<div class="container-fluid">
    <div class="row">
        <h2>Contas</h2>
        <ul ng-repeat="c in contas">
            <li><conta cin="c"></conta></li>
        </ul>
    </div>
    <div class="row">
        <h2>Transacoes</h2>
        <button ng-click="adicionaTransacao()">nova transacao</button>
        <h3 ng-show="mostraMsgNovaTransacaoEmEdicao">Nova transacao em edicao</h3>

        <ul ng-repeat="c in contas | filter: { contaSelecionada: 'true' }">
            <li>
                <ul ng-repeat="t in c.transacoes">
                    <li><transacao tin="t"></transacao></li>
                </ul>
            </li>
        </ul>
        <h3>Transacoes ordenadas</h3>
        <ul ng-repeat="to in transacoesOrdenadas">
            <li><transacao tin="to"></transacao></li>
        </ul>
    </div>
</div>