<div ng-model="tr">
    <input type="text" placeholder="data" value="{{t.data}}" />
    <input type="text" placeholder="descricao" value="{{t.descricao}}" />
    <select>
        <option value="{{t.categoria.id}}">{{t.categoria.nome}}</option>
        <option ng-repeat="x in t.outrasCategorias()">{{x.nome}}</option>
    </select>
    <select>
        <option value="{{t.conta.id}}">{{t.conta.nome}}</option>
        <option ng-repeat="x in t.outrasContas()">{{x.nome}}</option>
    </select>
    <input type="text" placeholder="0,00" value="{{t.valor}}" />
    <button ng-click="excluirTransacao(t)" ng-show="t.mostrarBotaoExcluir">excluir</button>
    <button ng-click="salvarTransacao(t)" ng-show="t.mostrarBotaoSalvar">salvar</button>
    <button ng-click="cancelarTransacao(t)" ng-show="t.mostrarBotaoCancelar">cancelar</button>
</div>